html{
    margin: 0;
    padding:0;
    
}
body{

    text-align: center;
}

.row-form{
    width: 250px;
    margin: 0 auto;
}
.left-description{
    float: left;
}
.rowTap{
    margin-top: 2000px;
}
.coordinates{
    padding-bottom: 20px;
}

