html{
    margin: 0;
    padding:0;
    
}
body{
    margin: auto;
    width: 100%;
    text-align: center;
}
#title{
    margin: 0 auto;
}
.coordinates{
    width: 250px;
    margin: 0 auto;
}
.left-description{
    float: left;
}
